{{!-- <article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article> --}}

<div class="divider"></div>
    <div class="container">
        <div class="row">
            <div class="col s12 post">
                <div class="card purple darken-1">
                    <div class="card-content white-text">
                        <a href="{{post_url}}" target="_blank" class="comment-url card-title center" style="color: white; font-weight:bold; border-bottom: 2px solid black;">{{title}}</a>
                        <h5>{{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}} {{question}}</h5>
                        
                    </div>
                    <div class="card-action">
                        <a href="/post/{{id}}" class="" style="font-size: 20px;">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
